<header class="header">
	<div class="">
		{{> logo}}
	</div>


	<nav class="header_nav">
		<div class="header_nav_right">
			{{>nav list=header}}
		</div>
	</nav>
</header>

{{#with main}}
<div class="main">
	<img src="{{image}}" alt="Hero image" class="main_image">
	<div class="main_content">
		<h1 class="main_title">{{heading}}</h1>
		<p class="main_text">{{descriotion}}</p>
		<a href="{{href}}" class="button main_button">{{button}}</a>
	</div>
</div>
{{/with}}

<main class="featured">
	{{#each featured}}
	{{> cardFeatured data=this}}
	{{/each}}
</main>


<div class="actions">
	{{#each actions}}
	<div class="actions_content">
		<p class="actions_info">{{heading}}</p>
		<a href="{{url}}" class="actions_button">{{text}}</a>
	</div>
	{{/each}}
</div>


<footer class="footer">
	<div>
		{{> logo}}
		<span class="footer_copyright">Copyright 2023</span>
	</div>

	{{#each footer}}
	<div>
		<span class="footer_title">{{title}}</span>
		{{>nav list=links isVertical=true}}
	</div>
	{{/each}}
</footer>